<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Trang Admin</title>

  <!-- Custom fonts for this template-->
  <link href="./../static/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="./../static/admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
  <!-- Custom styles for this template-->
  <link href="./../static/admin/css/sb-admin.css" rel="stylesheet">
  <script src="./../static/admin/vendor/jquery/jquery.min.js"></script>
</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index.html">Trang Admin</a>



    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Tìm kiếm..." aria-label="Tìm kiếm"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell fa-fw"></i>
          <span class="badge badge-danger">9+</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-envelope fa-fw"></i>
          <span class="badge badge-danger">7</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#"><%=user.name%></a>
          <a class="dropdown-item" href="#"><%=user.email%></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Đăng Xuất</a>
        </div>
      </li>
    </ul>

  </nav>

  <div id="wrapper" class="container">

    <!-- Sidebar -->

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Bài viết</li>
        </ol>

        <!-- Icon Cards-->
        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-comments"></i>
                </div>
                <div class="mr-5">26 New Messages!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-list"></i>
                </div>
                <div class="mr-5">11 New Tasks!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-shopping-cart"></i>
                </div>
                <div class="mr-5">123 New Orders!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-life-ring"></i>
                </div>
                <div class="mr-5">13 New Tickets!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <br />
        <a type="button" class="btn btn-primary" style="margin:0 0 40px 20px;" data-toggle="modal"
          data-target="#modal_post">
          <i class="fa fa-plus"></i> Thêm Bài Viết
        </a>

        <!-- The Modal -->
        <div class="modal fade" id="modal_post">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <div class="Write_post">
                  <h3 class="text-center"> Viết bài ngay bây giờ !</h3>
                  <form action="/admin/addpost" method="POST" id="form_post">
                    <div class="row">
                      <input id="id" name="id" val="" type='hidden'>
                      <input id="viewcount" name="viewcount" type='hidden'>
                      <input id="status" name="status" value="true" type="hidden">
                      <input name="dateCreate" id="dateCreate" type="hidden">
                      <div class="col-lg-4 ">
                        <div class="form-group">

                          <input id="title" name="title" class="form-control" placeholder="Tiêu Đề" required
                            aria-describedby="basic-addon1" type="text">
                        </div>
                        <div class="form-group">

                          <input id="url" name="url" class="form-control" placeholder="Đường dẫn ..." required
                            aria-describedby="basic-addon1" type="text">
                        </div>

                        <div class="form-group">
                          <select name="category" id="category">
                            <% categories.forEach(function(category){ %>
                            <option value="<%=category.key%>"><%=category.name%></option>
                            <%});%>
                          </select>

                        </div>

                        <button type="submit" class="btn btn-success btn-save"><i class="fa fa-save"></i> Đăng
                          bài</button>

                        <div style='  margin: 20px; bottom: 0px;display: block;  position: absolute;'
                          class="dateCreate">Updated : <a id="dateUpdate"></a></div>
                      </div>
                      <div class="col-lg-8 ">
                        <textarea name="content" id="editor" required> </textarea>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>



        <!-- DataTables Example -->

        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Bài Viết</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Tiêu đề</th>
                    <th>Ngày Đăng</th>
                    <th>Danh mục</th>
                    <th>Trạng thái</th>
                    <th>Thao tác</th>

                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Tiêu đề</th>
                    <th>Ngày Đăng</th>
                    <th>Danh mục</th>
                    <th>Trạng thái</th>
                    <th>Thao tác</th>

                  </tr>
                </tfoot>
                <tbody id="table-body">

                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

        <br />

        <br />

        <br />

        <a type="button" class="btn btn-primary" style="margin:0 0 40px 20px;" data-toggle="modal"
          data-target="#modal_cat">
          <i class="fa fa-plus"></i> Thêm Danh mục
        </a>

        <!-- The Modal -->
        <div class="modal fade" id="modal_cat">
          <div class="modal-dialog ">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <h3 class="text-center"> Danh Mục</h3>
              <!-- Modal body -->
              <div class="modal-body">
                <div>


                  <form action="/admin/add_category" method="POST" id='form_category'>
                    <input name="id" id="id" value="" type='hidden'>
                    <input name="picture" id='picture' class="img_selected" type="hidden" required>
                    <input name="view" id='view' value="" type="hidden">
                    <div class="form-group">
                      <a type="button" id="select_img" class="btn btn-primary" style="margin:0 0 40px 20px;"
                        data-toggle="modal" data-target="#modal_selectImg"><i class="fa fa-plus"></i>chọn ảnh</a>

                      <img style="padding:10px; width:100px; fload:right; height:100px;" id="img_selected">
                    </div>
                    <div class="form-group">
                      <select name="parent" class="form-control" id='parent'>
                        <option value="lang">Ngôn Ngữ Lập Trình</option>
                        <option value="frame">Framework</option>
                        <option value="database">Sql/MySql/Mongo</option>
                        <option value="computer">Thủ Thuật máy tính</option>
                     
                        <option value="my_projects">Dự án của tôi</option>  
                      </select>
                    </div>

                    <div class="form-group">

                      <input id="key" name="key" class="form-control" placeholder="Key...." required
                        aria-describedby="basic-addon1" type="text">
                    </div>
                    <div class="form-group">

                      <input id='name' name="name" class="form-control" placeholder="Danh mục" required
                        aria-describedby="basic-addon1" type="text">
                    </div>
                    <div class="form-group">

                      <input id='number_Posts' name="number_Posts" class="form-control" placeholder="Số bài viết ..." required
                        aria-describedby="basic-addon1" type="number">
                    </div>
                    <button type="submit" class="btn btn-success btn-save"><i class="fa fa-save"></i> Lưu</button>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>



        <!-- DataTables Example -->

        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Danh mục</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>Image</th>
                    <th>key</th>
                    <th>parent</th>
                    <th>Name</th>
                    <th>Actions</th>
                  </tr>
                </thead>

                <tbody id="tablecate-body">

                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->



      <!-- The Modal -->
      <div class="modal fade" id="modal_selectImg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <form id="uploadForm" enctype="multipart/form-data" action="/admin/upload-images" method="post">

                <input type="file" name="picture" required/>
                <br />
                <input style="float:right" type="submit" value="Upload Image" name="submit">

                <span id="status"></span>
              </form>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
              <div id="listImages"></div>

              <script>
                function getListImages() {
                  $.ajax({

                    url: "/admin/api/getListImages",
                    type: "get",
                    success: function (res) {
                      if (res) {
                        let list = [];
                        res.forEach(function (val) {
                          let row =
                            `<div style="display: inline-grid;
                              float: left; background-color: #a4a4a4;padding:10px; margin:20px;"><a onclick=select_img("` + val +
                            `") ><img style="width:110px;height:110px; margin:10px;" src=/static/uploads/` +
                            val + `></a><a onClick=delete_img("` + val +
                            `") class="btn btn-light">Xóa ảnh</a></div>`;
                          list.push(row);
                        });
                        $('#listImages').html(list);
                      }
                    }
                  })
                }
                //*************************************************//
                $('#select_img').on("click", function () {
                  getListImages();
                })
                //*************************************************//
                function select_img(name) {
                  $(".img_selected").val("/static/uploads/" + name);
                  $('#img_selected').attr("src", "/static/uploads/" + name);
                  $('#modal_selectImg').modal('hide');
                }

                //*************************************************//
                function delete_img(name) {
                  $.ajax({
                    url: "/admin/api/delete_img",
                    type: 'post',
                    data: {
                      name: name
                    },
                    success: function (res) {
                      if (res) {
                        alert('Đã xóa !');
                        getListImages();
                      }

                    }
                  })

                };
              </script>

            </div>
          </div>
        </div>
      </div>



    </div>
    </div>
    <footer class="_footer">
      <div class="container">
        <div class="copyright text-center my-auto">
          <span>Copyright © Your Website 2019</span>
        </div>
      </div>
    </footer>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Xác nhận đăng xuất</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Bạn có chắc muốn đăng xuất không ?</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
            <a class="btn btn-primary " href="/admin/logout">Đăng xuất</a>
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript-->

    <script src="./../static/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="./../static/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
 
    <script src="./../static/ckeditor/ckeditor.js"></script>
    <script>
      CKEDITOR.replace('editor');
    </script>

    <!-- Custom scripts for all pages-->
    <script src="./../static/admin/js/sb-admin.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <script>
      $("#uploadForm").submit(function (event) {
        event.preventDefault(); //prevent default action 
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = new FormData(this); //Creates new FormData object
        $.ajax({
          url: post_url,
          type: request_method,
          data: form_data,
          contentType: false,
          cache: false,
          processData: false
        }).done(function (response) { //
          alert("success !");
          getListImages();
        });
      });
      //*************************************************//
      loadtable();

      function loadtable() {

        $.ajax({
          url: '/admin/api/post_loadtable',
          type: "get",
          success: function (res) {
            if (res.data) {
              let tables = [];
              res.data.forEach(function (val) {
                let row = `
                    <tr>
                        <td>` + val.title + `</td>
                        <td>` + val.updated_date + `</td>
                        <td>` + val.category + `</td>
                        <td><a class="btn btn-outline-info" onClick=change_status("` + val._id + `") >` + val.status + `</i></a>
                        <td><a class="btn btn-light btn_delete" onClick = delete_Post("` + val._id +
                  `")><i class="fa fa-trash"></i></a><a class="btn btn-light btn_edit" onClick= update_Post("` +
                  val._id + `")><i class="fa fa-edit"></i></a></td>                
                      </tr>
                  `
                tables.push(row);
              })
              $('#table-body').html(tables);
            };
          }
        });

      };


      //*************************************************//
      function change_status(id) {
        $.ajax({
          url: '/admin/api/post_status',
          type: "post",
          data: {
            id: id
          },
          success: function (err) {
            if (!err) {
              loadtable();
            }

          }
        })

      };
      //*************************************************//
      function delete_Post(id) {
        $.confirm({
          title: 'Cảnh báo!',
          content: 'bạn có muốn thực hiện hành động này ?',
          buttons: {
            confirm: function () {
              $.ajax({
                url: '/admin/api/post_delete',
                type: "post",
                data: {
                  id: id
                },
                success: function (err) {
                  if (!err) {
                    loadtable();

                  } else {
                    $.alert('lỗi Thệ thống.');
                  }

                }
              });

            },
            cancel: function () {
              $.alert('Hủy hành động');
            }
          }
        });
      }
      //*************************************************//
      function update_Post(id) {
        $.ajax({
          url: '/admin/api/getPost_byID',
          type: 'post',
          data: {
            id: id
          },
          success: function (res) {
            if (res) {
              $('#form_post #id').val(res._id);
              $('#form_post #viewcount').val(res.viewcount);
              $('#form_post #title').val(res.title);
              $('#form_post #url').val(res.url);
              $('#form_post #dateCreate').html(res.created_date);
              $('#form_post #dateUpdate').html(res.updated_date);
              $('#form_post #category').val(res.category);
              $('#form_post #editor').val(res.body);
              $('#form_post #status').val(res.status);

            }
          }

        })
        $('#modal_post').modal("show");
      }
    </script>


    <script>
      //*************************************************//
      loadtable_category();

      function loadtable_category() {

        $.ajax({
          url: '/admin/api/category_loadtable',
          type: "get",
          success: function (res) {
            if (res.data) {
              let tables = [];
              res.data.forEach(function (val) {
                let row = `
                    <tr>
                        <td>` + val._id + `</td>
                        <td> <img style="width:100px;heigth:100px;padding:10px;" src="` + val.picture + `"></td>
                        <td>` + val.key + `</td>
                        <td>` + val.parent + `</td>
                        <td>` + val.name + `</td>
                       
                        <td><a class="btn btn-light btn_deletecate" onClick = delete_Category("` + val._id +
                  `")><i class="fa fa-trash"></i></a><a class="btn btn-light btn_editcate" onClick=update_Category("` +
                  val._id + `")><i class="fa fa-edit"></i></a></td>                
                      </tr>
                  `
                tables.push(row);
              })
              $('#tablecate-body').html(tables);
            };
          }
        });

      };
      //*************************************************//
      function delete_Category(id) {
        $.confirm({
          title: 'Cảnh báo!',
          content: 'bạn có muốn thực hiện hành động này ?',
          buttons: {
            confirm: function () {
              $.ajax({
                url: '/admin/api/post_delete_category',
                type: "post",
                data: {
                  id: id
                },
                success: function (err) {
                  if (!err) {
                    loadtable_category();
                    $.alert('Đã xóa thành công');
                  } else {
                    $.alert('lỗi hệ thống.');
                  }

                }
              });

            },
            cancel: function () {
              $.ajax({
                url: 'admin/api/getPost_byID',
                type: 'get',
                success: function (res) {
                  if (res) {

                  }
                }
              })
              $.alert('Hủy hành động');
            }
          }
        });
      }
      //*************************************************//
      function update_Category(id) {

        $.ajax({
          url: '/admin/api/getCategory_byID',
          type: 'post',
          data: {
            id: id
          },
          success: function (res) {
            if (res) {
              $('#form_category #id').val(res._id);
              
              $('#form_category #picture').val(res.picture);
              $('#form_category #img_selected').attr('src', res.picture);
              $('#form_category #parent').val(res.parent);
              $('#form_category #key').val(res.key);
              $('#form_category #name').val(res.name);
              $('#form_category #number_Posts').val(res.number_Posts);
               $('#form_category #view').val(res.view);
            }
          }
        })
        $('#modal_cat').modal("show");
      }
    </script>

</body>

</html>