<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login - Baole Developer</title>
    
</head>
<body>
    <div class="login">
        <div class="login-form">
           <h3 class="text-center"> Login Website</h3>
           <form action="/login">

           </form>

           <a href="/auth/facebook" class="btn btn-primary"> Login with Facebook </a>
        </div>
    </div>
</body>
</html>